default:
  suites:
    default:
      path: '%paths.base%/features'
      contexts:
        - FeatureContext
        - rpkamp\Behat\Context\MinkAwareMailhogContext
        - Behat\MinkExtension\Context\MinkContext
  extensions:
    rpkamp\Behat\MailhogExtension:
      base_url: http://localhost:11025
    Behat\MinkExtension:
      sessions:
        default:
          goutte: ~
